body{
    color: #48514E;
    
    text-align: center;
    font-family: 'Merriweather', serif;
}

.navbar{
    position: fixed;
}

#container{
   position: relative;
}


h1{
    width: 100%;
    padding-top: 100px;
    text-align: center;
    font-size: 30%;
    margin: 100px auto 100px auto;
   
}

h6{
    width: 70%;
    padding-top: 30px;
    text-align: center;
    font-size: 8rem;
    color: gray;
    margin: 100px auto 100px auto;
    line-height: 5;
    
}

.row{
    padding: 50px;
    width: 100%;
    text-align: center;
}

#grids{
    padding: 50px;
    margin: 0;
    background-color: #FFEFD5;
}


#grids-row{
    background-color: #AFEEEE;
    margin: 0;
    padding : 50px;
}

#grids-row-2{
    background-color: #F3E8EA;
    margin: 0;
    padding : 50px;
}

#grids-row-3{
    background-color: #D5D6EA;
    margin: 0;
    padding : 50px;
}

#grids-row-4{
    margin: 0;
    padding : 50px;
}

h3{
    text-align: center;
}

.col-sm-3{
    display: block;
    float: right;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#footer1{
    background-color: #FFDDCA;
}

h4{

    font-weight: 700;
}
h5{
    color: gray;
}
.col-sm-6{
    text-align: left;
    
}

.a{
    text-decoration: none;
    color: gray;
}